{# {% extends 'base.html.twig' %}
{% form_theme formArticle 'bootstrap_4_layout.html.twig' %}

{% block body %}
<h1> Nouveau article</h1> #}
{# <form action="" method="post">
    <input type="text" name="title" id="" placeholder="Titre de l'article">
    <textarea name="content" placeholder="Contenue de l'article" id="" cols="30" rows="10"></textarea>
    <input type="text" name="image" placeholder="Image de l'article" id="">
    <button type="submit">Enregistrer</button>
</form> #}

{# {{form_start(formArticle)}}
{{form_widget(formArticle)}}
{{form_end(formArticle)}} #}

{# 
{{form_start(formArticle)}}

    {{ form_row(formArticle.title, {'attr': {'placeholder': "Titre de l'article"}}) }}
    {{ form_row(formArticle.category)}}
    {{ form_row(formArticle.content, {'attr': {'placeholder': "Contenu de l'article"}}) }}
    {{ form_row(formArticle.image, {'attr': {'placeholder': "URL de l'image"}}) }}


    <button type="submit"class="btn btn-success">
            {% if editMode %}
                 Modifier
            {% else %}
                  Ajouter
            {% endif %}
    </button>

{{form_end(formArticle)}}
{% endblock %} #}

{% extends 'base.html.twig' %}

{% block title %}New Article{% endblock %}

{% block body %}
  {#  {{ include('article/_form.html.twig') }} #}
    <div class="container">
       <div class="row">
       <div class="col-md-2" style='border: 5px; padding: 20px; background-color: #3B5145;' ></div>
           <div class="col-md-8" style='border: 5px; padding: 20px; background-color: #D5F5E3;'>
                 <h1 class="h3 mb-3 font-weight-normal">New article</h1>
                   {{form_start(form)}}
                   <div class="row">
                        <div class="col-sm-6">
                            {{ form_row(form.title, {'attr': {'placeholder': "Titre de l'article"}}) }}
                        </div>
                        <div class="col-sm-6">
                                {{ form_row(form.category, {'attr': {'placeholder': "Catégorie de l'article"}}) }}
                        </div>
                    </div>
                     <div class="row">
                        <div class="col-sm-12">
                            {{ form_row(form.image, {'attr': {'placeholder': "L'image de l'article"}}) }}
                        </div>
                    </div>
                      <div class="row">
                        <div class="col-sm-12">
                        {{ form_row(form.content, {'attr': {'placeholder': "Contenu de l'article"}}) }}
                        </div>
                    </div>

                     

                      <button class="btn btn-outline-info float-right" >
                                {% if editMode %}
                                    EDIT
                                {% else %}
                                   SAVE
                                {% endif %}
                        </button> 
                           {# {{form_widget(form)}}
                         <button class="btn btn-outline-info float-right" >{{ button_label|default('Envoyer') }}</button> #}
                   {{form_end(form)}}
              
           </div>
                   
                    {# <div class="col-sm-6">
                        {{ form_row(form.subtitle, {'attr': {'placeholder': "Soustitre de l'article"}}) }}
                    </div> #}
                  
                    {# <div class="row"> 
                      
                           <div class="col-sm-6">
                            {{ form_row(form.author, {'attr': {'placeholder': "Auteur de l'article"}}) }}
                        </div> 
                   </div>#}
                   
                         
                        {# </div>
                            <div class="col-sm-6">
                            {{ form_row(form.state, {'attr': {'placeholder': ">Etat de l'article"}}) }}
                        </div> #}
                  
                   
                  
               
        <div class="col-md-1" style='border: 5px; padding: 20px; background-color: #3B5145;'></div>
       </div>
</div>

  
{% endblock %}
