
{% extends 'base.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block body %}
<div class="row">
    <div class="col-3" style='border: 5px; padding: 20px; background-color: #3B5145;'><p style='color: white';> Recherche </p></div>
   <div class="col-9" style='border: 5px; padding: 20px; background-color: #D5F5E3;'>
        <section class="articles">
            {% for article in articles %}
                <article>
                    <h2>{{article.title}}</h2>
                    <div class="metadate">Ecrit le {{article.createAt | date('d/m/Y')}} à {{article.createAt | date('H:i')}} dans la categorie {{article.category.title}}</div>
                     <div class="row">
                        <div class="col-md-3">
                        <img src="{{article.image}}" style="width:200px;height:130px"; alt=""></div>
                          <div class="col-md-9">
                        {{article.content | raw}}<br>
                        <a href="{{path('blog_show', {'id': article.id})}}" class="btn btn-outline-info">Lire la suite</a>
                        {# <a href="{{path('blog_delete')}}" class="btn btn-danger">Supprimer</a> #}
                        </div>
                    </div>

                </article>
            
            {% endfor %}
        </section>
    </div>

</div>
{% endblock %}
