{% extends 'base.html.twig' %}


{% block body %}
    <article>
        <h2>{{article.title}}</h2>
        <div class="metadate">Ecrit le {{article.createAt | date('d/m/Y')}} à {{article.createAt | date('H:i')}} dans la category {{article.category.title}}</div>
        <div class="content">
            <img src="{{article.image}}" alt="">
            <br>
            {{article.content | raw}}
         </div>
    </article>
     <section id="commentaire">
        <h3> {{article.comments | length}} commentaires</h3>
        {% for comment in article.comments %}
            <div class="comment">
                <div class="row">
                    <div class="col-3">
                    {{comment.author}} (<small>{{comment.createAt | date('d/m/Y à H:i')}}</small>)
                    </div>
                   
                    <div class="col">
                    {{comment.content | raw}}
                    </div>
                </div>
            </div>
        {% endfor %}

{% if app.user %}
        {{form_start(commentForm)}}
            {{form_row(commentForm.author, {'attr': {'placehold':'Votre nom'}})}}
            {{form_row(commentForm.content, {'attr': {'placehold':'Votre commentaire'}})}}
             <button type="submit" class="btn btn-success"> Commenter</button>
            {{form_end(commentForm)}} 
{% else %}
<h4> Attention: Vous ne pouvez pas commenter si vous ne vous authentifiez pas sur le site! </h4>

{% endif %}
    </section>

{% endblock body %}